<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>ПОЛЬЗОВАТЕЛИ СЕРВИСА</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main>
      <section class="section_center">
        <div class="form-block" th:switch="${users}">
          <h2 th:case="null">Пользователи не найдены!</h2>
          <div class="section_center" th:case="*">
            <h2>Добавить пользователя</h2>
            <form action="/users" method="post">
              Имя:
              <input
                class="form-control"
                maxlength="50"
                type="text"
                name="firstName"
              /><br />
              Фамилия:
              <input
                class="form-control"
                maxlength="50"
                type="text"
                step="any"
                name="lastName"
              /><br />
              <button class="btn btn-primary" type="submit">
                Добавить пользователя
              </button>
            </form>
            <h2>Список пользователей</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Имя</th>
                  <th>Фамилия</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${users}">
                  <td th:text="${user.id}"></td>
                  <td th:text="${user.firstName}"></td>
                  <td th:text="${user.lastName}"></td>
                  <td>
                    <a
                      class="btn btn-success"
                      th:href="@{user-update/{id}(id=${user.id})}"
                      title="Изменить пользователя"
                      >Редактировать</a
                    >&nbsp;
                    <a
                      class="btn btn-danger"
                      th:href="@{user-delete/{id}(id=${user.id})}"
                      title="Удалить пользователя"
                      >Удалить</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            <a class="btn btn-primary" href="/user-create"
              >Добавить пользователя в отдельной форме</a
            >
          </p>
        </div>
      </section>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
